body{
    background: linear-gradient(-45deg, #4b4b4b, #595959, #373737);
    background-size: 400% 400%;
}

.breathing_bg{
    background: linear-gradient(-45deg, #4b4b4b, #595959, #373737);
    background-size: 400% 400%;
    animation: gradient 240s ease infinite;
    margin-right: 15px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}