#Token for bot
token: 'NjQ3NDA2NDE1ODE1NzcwMTIy.XdfONQ.Tyqp8fhZipaBk8g6Qo4T6ncKid8'

#Set Owner ID
owner_id: 193500935182352395

# Logging/Activity
show_users: true # Allows the collection of amount of users
default_activity: "Vibing with {} members in {} servers" # you have to provide positional arguments in the main file

# invite link
invitelink: 'https://bit.ly/2W4xfWy'
github: 'https://github.com/redmoogle/Rednako'
